body{
    background-color: rgb(217, 255, 0);
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:200;
    font-style: italic;
}