{% extends 'layout.html' %}
{% load static %}

{% block title %}
home page
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'chai/styles.css' %}">
{% endblock %}

{% block body %}
<h1>chai home page</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nobis reprehenderit facere, deleniti reiciendis laudantium fugit, debitis rerum qui consectetur veritatis atque recusandae. Doloribus odit ea maiores quis, molestiae unde? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic sit illo, similique iusto repellat et ipsam architecto consequatur expedita voluptatum quidem assumenda ab officia exercitationem, debitis molestiae odit quaerat reprehenderit?
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique ea autem dignissimos natus aut error nostrum illo labore placeat nisi? Sapiente, atque? Quos, tenetur! Eveniet enim reprehenderit voluptatum vel architecto?
</p>
{% endblock %}
