body{
    background-color: cornsilk;
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:200;
    font-style: italic;
}


p{
    text-align: center;
    width: 20;
    background: orangered;
}