h1 {
    font-family:'Courier New', Courier, monospace;
    font-size: xx-large;
    text-align: center;
}

h2 {
    font-family:'Courier New', Courier, monospace;
    font-size: x-large;
    text-align: center;
}