/* Using the id */
#naviga {
    background-color: rgb(182, 173, 230);
    padding: 10px;
}
/* Using the class */
.naviga {
    background-color: rgb(210, 230, 173);
    padding: 10px;
}



#navigation-line{
    background-color: rgb(50, 109, 45);
    padding: 10px;
}

#navigation-line-item{
    background-color: rgb(201, 57, 14);
    padding: 10px;
}






.body-nav-div {
    background-color: rgba(255, 145, 0, 0.712);
    padding: 10px;
}



.content-section {
    background-color: rgb(33, 165, 88);
    padding: 10px;
    border: 2px solid rgb(5, 5, 5);  /* Combined border properties */
    width: 100%;                    /* Full width */
    height: 100vh;                  /* Full viewport height */
    box-sizing: border-box;         /* Include padding/border in size */
    margin: 0;                      /* Remove default margins */
}


#home-section{
    background-color: rgba(0, 0, 0, 0.842);
    padding: 5px;
    border-style:dotted  ;
}