/* Using the id */
#naviga {
    background-color: rgb(182, 173, 230);
    padding: 10px;
}
/* Using the class */
.naviga {
    background-color: rgb(210, 230, 173);
    padding: 10px;
}



#navigation-line{
    background-color: rgb(50, 109, 45);
    padding: 10px;
}

#navigation-line-item{
    background-color: rgb(201, 57, 14);
    padding: 10px;
}






.body-nav-div {
    background-color: rgb(7, 111, 180);
    padding: 10px;
}



.content-section{
    background-color: rgb(33, 165, 88);
    padding: 10px;
    border-color: rgb(5, 5, 5);
    border-style:solid  ;
}

#home-section{
    background-color: rgb(179, 124, 124);
    padding: 5px;
    border-style:dotted  ;
}