
html {
    scroll-padding-top: 10%;
    scroll-behavior:auto;
}



body {
    margin: 0;
}


.naviga {
    background-color: rgb(19, 184, 206);
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-evenly;
    box-sizing: border-box;
    z-index: 1000;
    border-style: dashed;
}




#navigation-line{
    background-color: rgb(221, 9, 108);
    padding: 10px;
    align-items:stretch;
    align-self: center;
    justify-content: space-evenly
}

#nav-item{
    background-color: rgb(104, 165, 34);
    padding: 10px;
    align-items:normal;
    border: 10px;
    justify-content: space-evenly
}






.body-nav-div {
    background-color: rgba(255, 145, 0, 0.712);
    margin-top: 70px;
}



.content-section {
    background-color: rgb(33, 165, 88);
    padding: 10px;
    border: 2px solid rgb(5, 5, 5);
    width: 100%;
    height: 100vh;
    box-sizing: border-box;

}


#home-section{
    background-color: rgba(0, 0, 0, 0.842);
    padding: 5px;
    border-style:dotted  ;
    padding-top: 0%;

}

#about-section {
}